/* ---- Google Fonts ---- */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap');
/* ---- Custom Properties ---- */
:root{
    /* Colors */
    --clr-verydarkblue: #070439;
    --clr-desaturatedblue: hsl(238, 22%, 44%);
    --clr-brightblue: hsl(224, 93%, 58%);
    --clr-moderatecyan: hsl(170, 45%, 43%);
    --clr-lightgrayblue: hsl(240, 75%, 98%);
    --clr-lightgray: hsl(0, 0%, 75%);
    --clr-white: #fff;
    /* Fonts and typography */
    --ff-primary: 'Raleway', sans-serif; /* headings, cta, header nav */
    --ff-secondary: 'Open Sans', sans-serif; /* body */

    --fw-reg: 400;
    --fw-bold: 700;

    --fs-h1: 1.5rem;
    --fs-h2: 1rem;
    --fs-big: 1rem;
    --fs-normal: .875rem;
    --fs-small: .75rem;
    --fs-xsmall: .625rem;
    --fs-xxsmall: .563rem;
    --fs-xxxsmall: .375rem;
}
@media screen and (min-width: 768px){
    :root{
        --fs-h1: 2.5rem;
        --fs-h2: 2rem;
        --fs-big: 1rem;
        --fs-normal: 1rem;
        --fs-small: .875rem;
        --fs-xsmall: .8125rem;
        --fs-xxsmall: .687rem;
        --fs-xxxsmall: .5rem;
    }
}
/* ---- General Styles ---- */
/* Reset */
*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
    font-size: 16px;
}
body{
    font-family: var(--ff-secondary);
    font-size: var(--fs-normal);
    font-weight: var(--fw-reg);
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}
button{
    border: none;
    background: none;
}
img{
    max-width: 100%;
    height: auto;
    display: block;
}
address{
    font-style: normal;
}
/* Typography */
h1{font-size: var(--fs-h1);}
h2{font-size: var(--fs-h2);}

h1,
h2,
header,
.btn{font-family: var(--ff-primary);}

[class^="fab"]{font-size: var(--fs-normal);}
/* Components */
[type="email"]{
    border: none;
    padding: .875rem 1.3rem;
    border: .6px solid var(--clr-verydarkblue);
}
[type="email"]::placeholder{
    color: var(--clr-lightgray);
}
.btn{
    border: none;
}
.btn--primary{
    padding: .875rem 1.3rem;
    border-radius: 3px;
    background-color: var(--clr-brightblue);
    color: var(--clr-white);
    font-weight: var(--fw-bold);
}
.btn--secondary{
    color: var(--clr-moderatecyan);
    padding-bottom: 5px;
    border-bottom: 1.5px solid var(--clr-moderatecyan);
    position: relative;
    font-weight: var(--fw-reg);
}
.btn--secondary::after{
    content: '';
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0;
    right: -35px;

    background-image: url(/images/icon-arrow.svg);
    background-repeat: no-repeat;
}
/* Layout */
.wrapper{
    padding: 6rem 1.75rem;
    max-width: 450px;
    margin: 0 auto;
}
/* ---- Header Styles ---- */
.nav--header{
    padding: 1.5rem 1.5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--clr-verydarkblue);
    font-size: var(--fs-small);
}
.logo{
    max-width: 80px;
}
.nav--header .nav__list{
    display: flex;
}
.nav--header .nav__item{
    margin-left: 1.5rem;
}
/* ---- Section Styles ---- */
.section{
    text-align: center;
}
.section__description{
    line-height: 1.24;
}
/* Hero */
.section.hero{
    margin-bottom: 5rem;
}
.hero__container--img{
    margin-bottom: 2.5rem;
}
.section__title--hero{
    margin-bottom: 1.5rem;
    line-height: 1.36;
}
.section__description--hero,
.hero__form{
    margin: 0 .5rem;
}
.section__description--hero{
    margin-bottom: 2rem;
}
.hero__form{
    display: flex;
    flex-direction: column;
}
.hero__form > * {
    margin-bottom: 1rem;
}
/* Productive */
.section.productive{
    background-color: var(--clr-lightgrayblue);
    position: relative;
}
.section.productive::before{
    content: '';
    width: 100%;
    height: 53px;
    display: block;
    position: absolute;
    top: -52px;
    left: 0;
    background-image: url(/images/bg-curve-mobile.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
.productive__container--img{
    margin-bottom: 5rem;
}
.productive__container--txt{
    margin-bottom: 2.5rem;
}
.productive__container--txt > *{
    margin-bottom: 1.5rem;
}
.testimonial{
    background-color: var(--clr-white);
    border-radius: .5rem;
    padding: 3rem .8rem .8rem 1.6rem;
    text-align: left;
    margin: 0 1.25rem;
}
.testimonial__quote{
    margin-bottom: .8rem;
    position: relative;
    line-height: 18.1px;
    letter-spacing: .38px;
    font-size: var(--fs-xsmall);
}
.testimonial__quote::before{
    content: '';
    display: block;
    height: 54px;
    width: 14px;
    position: absolute;
    top: -25px;
    left: 0;
    background-image: url(/images/icon-quotes.svg);
    background-repeat: no-repeat;
}
.testimonial__author{
    display: flex;
    align-items: center;
}
.testimonial__author-name{
    font-size: var(--fs-xxsmall);
    font-weight: var(--fw-bold);
}
.testimonial__author-role{
    font-size: var(--fs-xxxsmall);
}
.testimonial__img{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-right: .5rem;
}
/* Subscription */
.section.subscription{
    background-color: var(--clr-desaturatedblue);
    color: var(--clr-white);
}
.subscription__container--txt,
.subscription__container--txt > *,
.subscription__form > *{
    margin-bottom: 1rem;
}
.subscription__container--txt,
.subscription__form{
    align-self: center;
}
.subscription__form{
    display: flex;
    flex-direction: column;
}
/* ---- Footer Styles ---- */
.footer{
    background-color: var(--clr-verydarkblue);
    color: var(--clr-white);
    font-size: var(--fs-big);
    position: relative;
}
.footer__container--img,
.footer__address,
.nav--footer,
.social{
    margin-bottom: 2.5rem;
}
.footer__container--img{
    max-width: 180px;
}
.address__phone,
.address__email{
    display: flex;
}
.address__phone{
    margin-bottom: 1rem;
}
.address__icon{
    align-self: center;
    margin-right: 1rem;
}
.nav--footer .nav__item{
    margin-bottom: 1rem;
}
.social__list{
    display: flex;
    justify-content: center;
    align-items: center;
}
.social__item{
    margin-left: .625rem;
    border: 1px solid var(--clr-white);
    border-radius: 50%;
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.attribution{
    position: absolute;
    bottom: 2rem;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: var(--fs-small);
}
.attribution a {
    color: var(--clr-brightblue);
}
/* ---- Media Queries ---- */
@media screen and (min-width: 768px){
    /* Layout */
    .wrapper{
        padding: 5.5rem 2rem;
        max-width: 1280px;
        display: inherit;
        grid-template-areas: inherit;
        grid-template-columns: inherit;
        grid-column: 1/-1;
        column-gap: inherit;
    }
    .section{
        text-align: left;
    }
    /* Header */
    .nav--header{
        max-width: 1280px;
        margin: 0 auto;
        padding: 4rem 2rem 0;
    }
    .logo{
        max-width: 166px;
    }
    /* Hero */
    .section.hero{
        display: grid;
        grid-template-areas: "txt img";
        grid-template-columns: repeat(12, 1fr);
        column-gap: 1rem;
    }
    .hero__container--img{
        grid-area: img;
        grid-column: 7/-1;
        max-width: 640px;
        margin-bottom: initial;
    }
    .hero__container--txt{
        grid-area: txt;
        grid-column: 1/7;
        align-self: center;
    }
    .section__title--hero{
        line-height: 1.6;
    }
    .section__description--hero,
    .hero__form{
        margin-left: initial;
        margin-right: initial;
    }
    .hero__form{
        flex-direction: row;
        justify-content: space-between;
    }
    .hero__form > *{
        margin-bottom: initial;
    }
    .hero__form [type="email"]{
        width: 60%;
    }
    .hero__form [type="submit"]{
        width: 30%;
    }
    /* Productive */
    .section.productive::before{
        background-image: url(/images/bg-curve-desktop.svg);
        background-size: cover;
        height: 114px;
        top: -114px;
    }
    .section.productive{
        display: grid;
        grid-template-areas: "txt img"
                             "testimonial img";
        grid-template-columns: repeat(12, 1fr);
    }
    .productive__container--img{
        grid-area: img;
        grid-column: 8/-1;
        max-width: 550px;
        margin-bottom: initial;
        display: flex;
        align-items: center;
    }
    .productive__container--txt{
        grid-area: txt;
        grid-column: 1/7;
    }
    .testimonial{
        grid-area: testimonial;
        grid-column: 1/7;
        max-width: 356px;
        margin: initial;
        padding-left: 2rem;
        padding-right: 2.2rem;
    }
    /* Subscription */
    .section.subscription{
        display: grid;
        grid-template-columns: repeat(12, 1fr);
    }
    .subscription__container--txt{
        grid-column: 1/6;
    }
    .subscription__form{
        grid-column: 8/-1;
    }
    .subscription__form .btn{
        align-self: flex-start;
    }
    /* Footer */
    .footer{
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        column-gap: 2rem;
    }
    .footer__container--img{
        grid-column: 1/-1;
    }
    .footer__address,
    .nav--footer{
        grid-column: span 3;
    }
}